* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: auto;
    padding: 0%;
    background-color: dimgrey;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

header {
    height: 180px;
    background-color: brown;
    border: 50px;
    border-radius: 30px, ;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-size: xx-large;
}

section.prehistoric-card {
    background-color: crimson;
    height: 350px;
    width: 150px;
    display: flex;

}

form {
    width: 350px;
    height: 350px;
    background-color: blanchedalmond;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
}

#nav {
    height: 75px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#mesozoic {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.dino-card {
    background-color: cyan;
    width: 250px;
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dinoName {
    font-size: 20px;
    margin: 5px 0;
}

.dino-Image {
    border-radius: 15px;

}

.era {
    font-size: 15px;
    margin: 5px 0;
}

.type {
    font-size: 15px;
    margin: 5px 0;
}

#DinosaurList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}